.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 500px;
}

.listItem:not(:last-child) {
  margin-bottom: 6px;
}

.contactName {
  font-size: 20px;
  line-height: 25px;
}

.contactNumber {
  font-size: 20px;
  line-height: 25px;
  margin-right: 20px;
}
