p {
  margin-top: 0px;
  margin-bottom: 0px;
}
*/ img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a:hover {
  color: #a016c1;
}
